:root {
  --ribbon-width: 160px;
}

/* #################### */
/* #### structure ##### */
/* #################### */

html, body {
  margin: 0;
  height: 100%;
}

main {
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 150px 1fr 1fr;
  gap: 0 0;
  grid-template-areas: "nav nav" "queue queue" "browser result" "footer footer";
}

#queue {
  grid-area: queue;
  overflow: auto;
}

#nav {
  grid-area: nav;
  display: flex;
}

#result {
  grid-area: result;
  overflow: auto;
}

#browser {
  grid-area: browser;
}

main footer {
  grid-area: footer;
  overflow: auto;
  background-color: #041936;
  text-align: right;
}

table {
  width: 100%;
}

#control-admin {
  display: flex;
  flex-direction: column;
}

#sanic-logo {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

#sanic-logo > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#sanic-logo img {
  max-width: 75%;
  max-height: 75%;
  margin: auto;
}

.spaced {
  display: flex;
  justify-content: space-between;
}

/* #################### */
/* ### pretty stuff ### */
/* #################### */

/* Disable arrows in input */

/* Chrome, Safari, Edge, Opera */
#control-xfade::-webkit-outer-spin-button,
#control-xfade::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#control-xfade[type=number] {
  -moz-appearance: textfield;
}

#control-xfade {
  width: 2em;
}

#control-previous,
#control-play-pause,
#control-stop,
#control-next {
  width: 2.5em;
  height: 2.5em;
  text-align: center;
}

/*
#control-track {
  transform: translateX(100%);
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  animation: scroll-left 20s linear infinite;
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
*/

html, body {
  background-color: #09101d;
  color: #bbb;
  scrollbar-color: #490b00 #09101d;  /* only in firefox: https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color */
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

a {
  color: #bbb;
  text-decoration: none;
}

button {
  background-color: #28374a;
  color: #bbb;
  border-top-color: #545454;
  border-right-color: #3a3a3a;
  border-bottom-color: #3a3a3a;
  border-left-color: #545454;
}

/* borderless button used in queue */
.borderless {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

input[type=text] {
  background-color: #28374a;
  color: white;
  border: 1px solid black;
  border-right-color: #545454;
  border-bottom-color: #545454;
}

thead {
  background: rgb(15,29,47);
  background: linear-gradient(0deg, rgba(15,29,47,1) 0%, rgba(15,29,47,1) 50%, rgba(7,14,23,1) 100%);
}

th {
  font-weight: bold;
  padding: 2px 2px 2px 14px;
  border: solid #1c2c1a;
  border-width: 0 1px 0 0;
  cursor: pointer;
}

/* show and hide action buttons on hover */
tbody tr td button {
  display: none;
}

tbody tr:hover td button {
  display: inline-block;
}

/* fixed width for action buttons in queue so it doesn't change size when hovering */
tbody tr td:last-of-type {
  min-width: 6em;
}

tbody td.actions {
  white-space: nowrap;
}

#queue {
  border-bottom: 4px ridge #3a506b;
}

/* make arrow for currently playing song look nice */

#queue table tr.playing td:first-of-type::before {
  content: '\2BC8';  // ⯈
}

#queue table tr td:first-of-type {
  text-align: right;
  padding-right: 0.5em;
}

/* align times */

#queue table tr td:nth-last-of-type(2) {
  text-align: right;
}

table tr:nth-child(odd) td {
  background: #1e1f1a;
}

table tr:nth-child(even) td {
  background: #171812;
}

#queue table tr:nth-child(odd).playing td,
#queue table tr:nth-child(even).playing td {
  background-color: #490b00;
}

table tr:hover td {
  background-color: #354158 !important; /* TODO: remove !important */
}

footer svg {
  color: white;
  width: 12pt;
  height: 12pt;
}
